@{
    ViewBag.Title = "О нас";
}
<h1>Важная информация нашего салона.</h1>
<p>
    Салон красоты «Beautiful Man/Girls.» откроет двери для посетителей в июле 2016 года. С первого дня нашими базовыми принципами работы стали доброжелательность, чуткое отношение к каждому клиенту и высокий уровень профессионализма во всех сферах оказываемых услуг. С первых секунд пребывания в салоне вы окунетесь в атмосферу заботы и доброжелательности. Почувствуйте себя свободными от повседневной суеты, открыв новые ощущения и удовольствие от виртуозного мастерства наших специалистов!

    Салон предоставляет полный спектр услуг, среди которых не только педикюр, маникюр и работа стилистов-парикмахеров, но и косметология лица и тела, аппаратные процедуры, массаж и все необходимое для того, чтобы подчеркнуть вашу уникальность, естественную красоту и привлекательность.

    Наши стилисты создадут настоящий шедевр, будь то простая или самая модная стрижка, свадебная или вечерняя укладка — все это и другое будет выглядеть не только безупречно, но и естественно! Чтобы добиться яркого цвета и красивой прически, мы уделяем огромное внимание здоровью волос, проводя лечение кожи головы и восстановительные процедуры по уникальным методикам.

    Довершить образ и нанести последние штрихи помогут мастера по уходу за кожей рук и ступней. У нас можно сделать не только классический и европейский маникюр и педикюр (в том числе и аппаратный), но и спа-маникюр, который предлагается и для мужчин.

    В своей работе мастера берут во внимание особенности каждого клиента, стараясь подчеркнуть вашу индивидуальность, учитывая тип кожи, цвет волос и глаз, а также множество других неочевидных мелочей. Почувствуйте себя неповторимо и комфортно в новом образе, созданном в соответствии как с вашими пожеланиями, так и последними веяниями моды..
</p>

<h2>В настоящее время в «Beautiful Man/Girls.» работает 12 человек, включая директора.</h2>
<p>
    Всего в работе предприятия задействовано:
    — 3 парикмахеров;
    — 2 мастера маникюра
    — 2 мастера педикюра;
    — 1 косметолог;
    — 2 администратора;
    — уборщица;
    — бухгалтер. 
    Директор салона «Beautiful Man/Girls.» целенаправленно проводит мероприятия, по повышению удовлетворенности персонала работой на предприятии, используя разнообразные методы мотивации работников труда — материальное стимулирование, обеспечение социальными благами, поощрения за успехи и достижения. Другой стороной работы с человеческими ресурсами в салоне красоты «Галерея» является повышение трудовой активности работников предприятия, удаление с производства малоэффективных работников, характеризующихся низкой отдачей на единицу затраченных на них средств.
    Деятельность салона «Beautiful Man/Girls.» ориентирована на жителей города Tallinn, в частности на жителей района Mustamäe, со средним достатком, работает непосредственно с большим количеством людей, объясняется это тем, что салон предоставляет качественные и не дорогие для салона красоты косметические услуги. Вместе с тем каждый посетитель может приобрести любое косметическое средство, которое ему понравится.
    В качестве повышения квалификации может рассматриваться:
    · получение дополнительного образования в образовательных учреждениях, имеющих соответствующие лицензии, или проведение семинаров для мастеров на предприятии;
    · участие мастеров в конкурсах, фестивалях парикмахерского искусства, выставках, в том числе международных и т.п.;
    · выполнение профессиональных работ для показов, театральных представлений, других творческих мероприятий.
    Мастера должны уметь выполнять работы повышенной сложности с использованием новейших технологий. При этом должна оставаться возможность выполнения мастером-парикмахером повседневной прически, включающей комплекс услуг по уходу за волосами, мастером-косметологом — комплекса косметических услуг, мастером маникюра и педикюра — комплекса услуг маникюра (педикюра), соответствующего пожеланиям и индивидуальным особенностям клиента, с учетом ведущих направлений моды. В салоне высшей категории предполагается сотрудничество мастера с клиентом в процессе выполнения услуги. Квалифицированные рекомендации мастера и грамотное обсуждение заказа с клиентом должны гарантировать точность его выполнения. При работе с клиентом мастера должны проявлять тактичность, сохранять положительный психологический настрой в течение рабочего дня, уметь работать с «трудным клиентом», обеспечивать комфортную психологическую атмосферу в залах обслуживания клиентов.
    Что касается обучения персонала в салоне «Beautiful Man/Girls.», семинары и курсы повышения квалификации мастера посещают за счет организации.
    Каждый из мастеров неоднократно участвовали во всевозможных конкурсах, собирая в «свою копилку» очередные награды. А так же постоянно повышают свою квалификацию.
</p>