@{
    ViewBag.Title = "Связаться с нами";
}
<h1>Наши данные</h1>
    <h4>Название салона : Ilusalong "Beatiful Man/Girls"</h4><br/>
<address>
         Адрес : Sõpruse pst. 182<br />
         <abbr title="Phone">Телефон:</abbr>+37258354510
</address>

<address>
    <strong>Тех.поддержка:</strong>   <a href="mailto:phloyd666@gmail.com">phloyd666@gmail.com</a><br />
</address>